@import url(//fonts.googleapis.com/css?family=Noto+Serif+TC&amp;display=swap);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
  font-family: 'Cubic';
  src: local("Cubic"),
      url('../fonts/Cubic.woff') format("woff");
}

html{
  cursor: url(https://ani.cursors-4u.net/cursors/cur-12/cur1138.ani), url(https://ani.cursors-4u.net/cursors/cur-12/cur1138.png), auto;
}

.body{
  
    width: 100%;
    margin: 0;
    padding: 0;
   
}

/*往上按鈕*/

.top {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 99;
}

.top img {
  width: 30px;
}


/*滑桿*/

::-webkit-scrollbar {
  background-color: #c9c3c3;

}

::-webkit-scrollbar-thumb {

  background-color: rgb(137, 132, 132);
  border: 1px solid rgb(75, 72, 72);
}



/*動畫區*/

@keyframes scaleUp {
  from {
    scale: 1;
  }

  to {
    scale: 1.1;
  }
}


@keyframes fadein {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

}

@keyframes scaleDown {
  from {
    scale: 1.1;
  }

  to {
    scale: 1;
  }
}



/************************main***************************/

/*ham*/

.ham {
  width: 50px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-style: none;
  background-color: rgb(249, 249, 249);
  display: none;
}

@media (max-width:990px){
  .ham{
    display: block;
  }
  
}


.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: rgb(85, 81, 81);
  stroke-width: 5.0;
  stroke-linecap: round;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

/*navbar*/

.navbar{
  font-family: 'Cubic';
  font-size: 16px;
  
}

.navbar-nav .nav-item .nav-link {
  color: rgb(96, 92, 92);
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  background-color: #d3d3d3;
  color: rgb(255, 255, 255);
  border-radius: 5%;
}

/*nav*/
.nav{
  margin: 0;
    z-index: 2;
}

/*搜尋*/

.list{
  margin-top: 50px;
  font-family: 'Cubic';
}

/*類別清單*/

.listt {
  text-decoration: none;
}

/*委託列表*/



.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: left;
  vertical-align: middle;
  font-family: 'Cubic';
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
h1.heading {
  
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 
.card {
  
  display: block; 
    margin-bottom: 20px;
    line-height: 1;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(59, 57, 57, 0.16),0 2px 10px 0 rgba(74, 69, 69, 0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(57, 55, 55, 0.2),0 6px 20px 0 rgba(59, 55, 55, 0.19);
}
.img-card {
  
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  
  font-family: 'Cubic';
  margin-top:0px;
  font-weight: 600;
  font-size: 20px;
}
.card-title a {
  
  font-family: 'Cubic';
  color: rgb(87, 86, 87);
  text-decoration: none !important;
}

.card-title  :hover{
  color: #7b7575;
}

.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase;

}

/*pagination*/



.pagination > li > a
{
    background-color: rgb(249, 249, 249);
    color: #636060;
    border: none;
    
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #ffffff;
    background-color: rgb(90, 88, 88);
    border-color: none;
}



.pagination > .active > a
{
    color: white;
    border-radius: 10%;
    background-color: #686762 !Important;
    border: solid 0px #4b494f !Important;
}

.pagination > .active > a:hover
{
    background-color: #3a383d !Important;
    
}

/*footer*/
.footer-dark {
  font-family: 'Cubic';
    padding:50px 0;
    color:#f0f9ff;
    background-color:#4a4a48;
  }
  
  .footer-dark h3 {
    
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }

  .footer-dark p {
    font-size: 1px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }